img {
  max-width: 100%;
}

#imgContainer {
  float: left;
}

#imgContainer1 {
  float: left;
}

#nav {
  color: whitesmoke;
  text-align: center;
  background-color: #800000;
  margin: auto;
}

#or {
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  top: 50%;
  width: 100%;
}

#res {
  text-align: center;
}

#win {
  font-size: 40px;
}

#scores {
  text-align: center;
}

body,
html {
  color: white;
  background: #2c3335;
}
