#steve1,
#steve2 {
  margin-top: 200px;
  margin-left: 300px;
  height: 300px;
  border: 1px solid white;
  width: 200px;
  float: left;
  background-image: url("https://s.ebiografia.com/assets/img/authors/st/ev/steve-jobs-2-l.jpg");
  background-size: 100% 100%;
}
#elon1,
#elon2 {
  margin-top: 200px;
  margin-right: 300px;
  height: 300px;
  border: 1px solid white;
  width: 200px;
  float: right;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/Elon_Musk_2015.jpg");
  background-size: cover;
}

#bill1,
#bill2 {
  margin-top: 200px;
  margin-right: 300px;
  height: 300px;
  border: 1px solid white;
  width: 200px;
  float: right;
  background-image: url("https://collectionimages.npg.org.uk/large/mw82857/Bill-Gates.jpg");
  background-size: 100% 100%;
}
#mark1,
#mark2 {
  margin-top: 200px;
  margin-right: 300px;
  height: 300px;
  border: 1px solid white;
  width: 200px;
  float: right;
  background-image: url("https://the-hollywood-gossip-res.cloudinary.com/iu/s--33NNfBAs--/t_xlarge_p/cs_srgb,f_auto,fl_strip_profile.lossy,q_auto:420/v1532023485/mark-zuckerberg-speaks.png");
  background-size: 100% 100%;
}

#nav {
  color: whitesmoke;
  background-color: #800000;
  margin: auto;
}

#or {
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}
